p {
    font-size: 14pt;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: rgb(225, 125, 70);
    color: black;
    padding: 5px;
    font-size: 16pt;
}

img {
    height: 80px;
    margin: 0px;
    padding: 10px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(225, 125, 70);
    color: black;
    padding: 2px;
    font-size: 18pt;
    font-weight: bold;
    text-transform: uppercase;
}

.logo a {
    padding: 15px;
}

.links {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

.links a {
    color: black;
    font-size: 16pt;
    text-decoration: none;
    background-color: rgb(225, 125, 70);

}

.hover:hover {
    background-color: white;
    transition: background-color 0.5s;
    cursor: pointer;
}

.links {
    list-style: none;

}

.hero{
    height: 356px;
    
    background-image: url("/weekTwoChallenge/assets/images/ATX.jpeg");
    background-size: cover;
    
}

#contactMe {
    height: 300px;
    background-color: rgb(225, 125, 70);

}

#aboutMe {
    height: 300px;
    background-color: rgb(225, 125, 70);
 

}

#title {
    color: black;
    background-color: rgb(225, 125, 70);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16pt;
    text-transform: uppercase;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    
    

}

.container {

    background-color: rgb(225, 125, 70);

    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
    row-gap: 10px;
}

#cardOne,
#cardTwo,
#cardThree,
#cardFour,
#cardFive,
#cardSix,
#cardSeven,
#cardEight,
#cardNine {
    border: 5px solid black;
    padding: 5px;
    height: 50px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}